<nav class="navbar h6 p-3 navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand text-white">ClassicCars</a>
    <a class="btn btn-circle btn-primary text-white d-block ml-auto" routerLink="/store" routerLinkActive="active" >Back to store</a>
  </div>
</nav>
<div class="container-fluid mt-5 h-100 mb-5 d-flex justify-content-center background-notFound w-100">
    <div class="jumbotron my-5 mb-5 bg-opacity">
      <h1 class="display-3 text-dark mb-5 opacity-full">Page not found.</h1>
      <h2 class="display-5 text-dark mb-5 opacity-full mt-5">This page doesn't exist or have been deleted.</h2>
      <h2 class="display-5 text-dark mb-5 opacity-full mt-5">For support please contant us in classicCars@shop.com</h2>
    </div>
</div>